*.gguf
*.bin
*_pycache_*
port_check.lock
*build
models/*
!models/Makefile
!models/README.md
!models/download_hf_models.py
model_servers/object_detection_python/detr-resnet-101
convert_models/converted_models
recipes/common/bin/*
*/.venv/
