lightrag-hku==1.1.7
numpy==1.26.4
pydantic==2.10.6
python-dotenv==1.0.1
pipmaster==0.4.0
httpx==0.28.1
nest_asyncio==1.6.0
future==1.0.0
setuptools==75.8.2
tenacity==9.0.0
PyMuPDF==1.25.5
streamlit==1.42.0
tiktoken
torch
transformers
matplotlib
scikit-learn
POT==0.9.5
anytree==2.12.1
autograd==1.7.0
beartype==0.18.5
gensim==4.3.3
graspologic==3.4.1
hyppo==0.4.0
llvmlite==0.44.0
numba==0.61.2
patsy==1.0.1
pynndescent==0.5.13
seaborn==0.13.2
smart-open==7.1.0
statsmodels==0.14.4
umap-learn==0.5.7
wrapt==1.17.2
nano-vectordb==0.0.4.3
jiter==0.8.2
distro==1.9.0
openai==1.64.0